.btn-blue {
	background-color: #cb997e;
	padding: 15px 20px;
	border-radius: 4px;
	color: white;
	font-weight: bold;
	font-family: 'Roboto', sans-serif;

}

.btn-blue:hover {
background-color: #ddbea9;
color:white;
transition: color 0.3s eas
}